body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
display: flex;
justify-content: space-between;
align-items: center;
}

.logo {
   width: 200px;
}

.nav {
    display: inline;
    color: white;
    margin-right: 40px;
    font-size: 20px;
}

.nav:hover {
    text-decoration: underline;
    cursor: pointer;
}